*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.progress-bar {
  width: 500px;
  height: 30px;
  background-color: lightgray;
  margin: auto;
  transform: translate(10px, 75px);
  border-radius: 20px;
  position: relative;
}

.progress-bar::before {
  content: 'Loading...';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: calc(var(--width, 0) * 1%);
  left: 5px;
  min-width: 25px;
  max-width: calc(100% - 10px);
  background-color: red;
  border-radius: 20px;
  padding-left: 8px;
  color: #fff;
}